* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: green;
    text-shadow: 2px 2px 2px #000;
}

button {
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    background-color: green;
    color: #eee;
    cursor: pointer;
}

#fighters {
    height: 10%;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #000;
    word-spacing: 0.9rem;
}

button:hover {
    background-color: #0c6b0c;
}

button:active {
    background-color: #0b460b;
}